<div class="container mt-5">
    <div class="container mb-4 text-center">
        <h4>Lista de Producto</h2>
        </div>    
        <div class="container d-flex justify-content-center">
            <table class="table table-striped">
                <thead class="bg-dark bg-gradient text-white">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                </tr>
                </thead>
                <tbody id="productos">
                </tbody>
            </table>
        </div>
</div> 
